<h3><%= @restaurant.name %></h3>
<br>
<p>Address: <%= @restaurant.address %></p>
<p>Rating: <%= @restaurant.rating %> stars</p>



<%= @restaurant.name %> has caught the interest of these users:
<ul>
	<%@restaurant.users.each do |user| %>
		<li><a href="users/<%=user.id%>"><%= user.name %></a>
	<% end %>
</ul>


Add to list of restaurants to try:
<br>
<br>
<select>
  <%User.all.each do |user|%>
    <option value="<%user.id%>"><%=user.name%> </option>
  <%end%>
</select>
