<h2><%= @restaurant.name %></h2>
<p><img src="<%= @restaurant.rating_img_url %>" alt="rating"> -- <%= @restaurant.rating %> Stars
</p>
<img src="<%= @restaurant.img_url %>" alt="profile image"> 
<p>Address: <%= @restaurant.address %></p>
<p><a href="<%= @restaurant.yelp_url %>">View On Yelp</a></p>

<br>
<%= @restaurant.name %> has caught the interest of these users:
<ul>
	<%@restaurant.users.each do |user| %>
		<li><a href="/users/<%=user.id%>"><%= user.name %></a></li>
	<% end %>
</ul>


<br>
<br>
<form action="/restaurants/<%=@restaurant.id%>/adduser" method="POST">
	<select name="user_id">
	  <%User.all.each do |user|%>
	    <option value="<%=user.id%>"><%=user.name%> </option>
	  <%end%>
	  <input type="submit" value="Submit">
	</select>
</form>
